@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body, .container-fluid{
    height: 100%;
    padding:0;        
}

body {
    color: #222222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.navbar-inverse {
    background: #1aa9a3;
    border: none;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #fff;
}

.sidebar {
    height: 100%;
    background: #2C3E50;
    padding-top: 10px;
    padding: 0;
    overflow: scroll;
}
.sidebar .form-control {
    border-radius: 14px !important;
}
.form-control{
    border-radius: 0 !important;
    background: #fff;
}
.form-control:focus {
    box-shadow: none;
    transition: none;
}
body {
    padding-top: 50px;
}
.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar form {
    padding: 20px;
}

.sidebar .nav a {
    color: #1aa9a3;
    padding-top: 4px;
    padding-bottom: 4px;
}
.sidebar .nav a:hover, .sidebar .nav a:active, .sidebar .nav a:focus {
    background: #1aa9a3 !important;
    color: #fff;
    border-radius: 0;
}
.sidebar .nav .active a, .sidebar .nav .active a:active, .sidebar .nav .active a:focus {
    background: #1aa9a3 !important;
    color: #fff;
    border-radius: 0;
}
.content {    
    padding: 100px;
    padding-top:20px;
    height: 100%;
    overflow: auto;
}

hr {
    border-color: #1aa9a3;
}

.hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(26, 169, 163,.8), rgba(26, 169, 163,.6), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(26, 169, 163,.8), rgba(26, 169, 163,.6), rgba(0,0,0,0));
    background-image: linear-gradient(to right, rgba(26, 169, 163,.8), rgba(26, 169, 163,.6), rgba(0,0,0,0));
    border-top: none;
    height: 4px;
    margin-left: 15px;
    margin-top:-20px;
}

.breadcrumb {
    background: rgba(245, 245, 245, 0); 
    border: 0px solid rgba(245, 245, 245, 1); 
    border-radius: 25px; 
    display: block;
}

.breadcrumb li {
    color: #1aa9a3;
}
.breadcrumb>.active {
    color: #1aa9a3;
}

.breadcrumb>li+li:before {
    color: #1aa9a3;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color:#5896c9;
}

pre {
    background-color: #fff;
    border-radius: 0;
    margin-top: 6px;
    margin-bottom: 6px;
}

.btn {
    border-radius: 0; 
}
.btn-default.active,
.btn-default:hover {
    color: #fff;
    background-color: #1aa9a3;
    border-color: #5896c9;
}

.full-content {
    margin: 40px 100px 10px 100px;
}