@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

html, body, .container-fluid{
    height: 100%;
    padding:0;        
}

body {
    color: #222222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.navbar-inverse {
    background: #212436;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #fff;
}

.sidebar {
    height: 100%;
    background: #2f3242;
    padding-top: 10px;
    padding: 0;    
    overflow: scroll;
}
.sidebar input {
    border-radius: 0 !important;
    background: #212436;
    border: none;
}
body {
    padding-top: 50px;
}
.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar form {
    padding: 20px;
}
.sidebar .nav {
    background: #001E40;    
}
.sidebar .nav a {
    color: #9d9d9d;
    padding-top: 4px;
    padding-bottom: 4px;
}
.sidebar .nav a:hover, .sidebar .nav a:active, .sidebar .nav a:focus {
    background: #100B29;
    color: #9d9d9d;
    border-radius: 0;
}
.sidebar .nav .active a, .sidebar .nav .active a:active, .sidebar .nav .active a:focus {
    background: #100B29 !important;
    color: #9d9d9d;
    border-radius: 0;
}
.content {    
    padding: 100px;
    padding-top:20px;
    height: 100%;
    overflow: auto;
}

hr {
  height: 4px;
  margin-left: 15px;
  margin-top:-20px;
}

.hr-primary{
  background-image: -webkit-linear-gradient(left, rgba(33, 76, 125,.8), rgba(33, 76, 125,.6), rgba(0,0,0,0));
}

.breadcrumb {
  background: rgba(245, 245, 245, 0); 
  border: 0px solid rgba(245, 245, 245, 1); 
  border-radius: 25px; 
  display: block;
}

.breadcrumb>.active {
    color: #222222;
}

.breadcrumb>li+li:before {
    color: #222222;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}