@{
    ViewData["Title"] = "Contact";
}

<p><img src="http://image.shutterstock.com/z/stock-vector-technical-support-call-center-and-service-flat-banner-set-isolated-vector-illustration-246698944.jpg" alt="About SyntacticDocs" width="100%"></p>