@{
    ViewData["Title"] = "Home Page";
}
	       
<div class="col-md-3 sidebar">          
	<form method="GET" role="search">                
		<input type="text" class="form-control" placeholder="Search for...">                               
	</form>  
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
	</ul>
</div>
<div class="col-md-9 content">

	<div class="row">        
        <ol class="breadcrumb bread-primary ">
          	<li><i class="fa fa-book"></i> Home</li>
            <li><a href="#">TOPICS</a></li>            
        </ol>
		<hr class="hr-primary" />
    </div>

	<h1>Core of Brand</h1>

	<p>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	</p>	

	<p><img width="300px" src="http://www.vector-eps.com/wp-content/gallery/office-work-technology-and-infographics-flat-design/technology-devices-flat-design3.jpg" alt=""></p>

	<pre><code class="javascript">var x = "Hello World"; 
hljs.initHighlightingOnLoad();</code></pre>

	<p>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
	</p>

	<p><img src="https://binalparekh.files.wordpress.com/2014/04/encapsulation.jpg" alt=""></p>
	<pre><code class="c#">public class HomeController : Controller
{
	public IActionResult Index()
	{
		return View();
	}

	public IActionResult About()
	{
		ViewData["Message"] = "Your application description page.";

		return View();
	}

	public IActionResult Contact()
	{
		ViewData["Message"] = "Your contact page.";

		return View();
	}

	public IActionResult Error()
	{
		return View();
	}
}</code></pre>
</div>